body {
  background-color: #1a1c40;

  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: oblique;
  color: #fff;
}
nav {
  align-items: flex-start;
}
#titulo {
  background-color: #e37760;
  margin: 50px;
  float: left;
  text-shadow: 1px 1px #e37760;
}
#regreso {
  margin: 0px 660px 2px 1px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
}
/*boton de VOLVER a la pagina anterior: se coloca margen, padding, color negro de fondo, color blanco de letras, borde con radio, letra negrita*/

article {
  margin-left: 10px;
}
section {
  margin: 0px auto;
}

section ul {
  list-style-type: none;
  color: #fff;
}

#linea {
  width: 100%;
  height: 2px;
}

#operaciones {
  border: none;
  font-size: x-large;
  width: 90%;
}

#tarjeta {
  padding: 2px;
}

form p {
  margin-left: 300px;
  font-weight: 700;
  color: #fff;
}

table {
  width: 60%;
  margin: 5px auto;
  border: solid 1px #f1f1e6;
  /*background-color: #f1f1e6;*/
}
td {
  padding: 10px;
  font-weight: 400;
  color: #fff;
}
#boton {
  padding: 6px;
  border-radius: 4px;
  border-color: #000;
  font-weight: 600;
  margin-left: 990px;
  color: #fff;
  text-shadow: 2px 2px #000;
  background-color: rgb(7, 191, 7);
}
#boton2 {
  padding: 6px;
  border-radius: 4px;
  border-color: #000;
  font-weight: 200;
  margin-left: 5px;
  color: #fff;
  font-size: small;
  text-shadow: 2px 2px #000;
  background-color: #ff8906;
}
.home {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.caja {
  flex: 1;
  min-width: 300px;
  padding: 10px;
  margin: auto;
  align-items: center;
}
.caja p {
  align-items: center;
  height: 20px;
  padding: 1px;
  margin-top: 1px;
}
.caja:first-child {
  flex: 2;
  padding: 10px;
  margin: 10px;
}
#operaciones {
  width: auto;
  height: 20px;
  margin: 10px;
}

.acciones {
  box-sizing: border-box;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 5rem;
  margin-bottom: 10px;
  justify-content: space-around;
}
.cabeza {
  font-size: xxxxxxx-large;
  font-weight: 100;
  text-shadow: 2px 2px 8px #000;
  background-color: #ff8906;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
  font-size: xx-large;
}
.accion {
  margin: 10px;
  margin-top: 5px;
  padding-bottom: 25%;
  margin-bottom: 20px;
  flex-grow: 100%;
  color: #fff;
  text-align: center;
  border: solid 0.009px #000 /*#e37760*/;
  border-radius: 7px;
  min-width: 250px;
  padding: 20px;
  padding-top: 0.5px;
  padding-left: 0%;
  padding-right: 0%;
  font-size: xx-large;
  background-color: #ff8906;

  text-shadow: 2px 2px 8px #000;
}
div .accion:hover {
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  box-shadow: 1px 1px 1px 5px #fff;
}
.foto {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
#titulo_formulario {
  margin-left: 300px;
  font-weight: 700;
  color: #000;
  text-shadow: 1px 1px #e37760;
  font-size: x-large;
}
.formulario {
  color: #fff;
  display: flex;
  border: solid #ffb450 4px;
  border-radius: 15px;
  width: 90%;
  background-color: #1a1c40;
}
.parte_blanca {
  background-color: #fff;
  font-weight: 800;
  color: #000;
}

.datos1 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.datos11 {
  padding: 20px;
  margin-left: 200px;
}
.datos12 {
  padding: 20px;
  margin-left: 150px;
}

.inicio {
  margin-bottom: 40px;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 90px;
  width: 80%;
}
.texto_operaciones {
  font-size: 40px;

  text-shadow: 2px 2px #e37760;
  margin-bottom: 15px;
}
@media screen and (max-width: 811px) {
  #boton {
    padding: 6px;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 95px;

    width: 50%;
    color: #fff;
    background-color: rgb(7, 191, 7);
  }

  #titulo_formulario {
    margin-left: 10px;
    text-align: left;
  }
  .datos11 {
    padding: 10px;
    margin-left: 25px;
    width: 100%;
  }
  .datos12 {
    margin-left: 25px;
    width: 90%;
  }
  .formulario {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    font-weight: 900;
    width: auto;
    font-size: small;
    background-color: #e37760;
  }

  .inicio {
    text-align: justify;
    margin-bottom: 600px;
    margin-left: 20px;
    padding: 20px;
    color: #fff;
    height: auto;
  }
  .fin {
    text-align: justify;
    color: #000;
    margin-bottom: 20px;
  }
  .texto_operaciones {
    font-size: x-large;
    font-weight: 900;
  }
  .acciones {
    align-items: center;
    width: 100%;
    font-size: medium;
  }
  .accion {
    align-items: center;
    font-size: x-large;
  }

  .foto {
    width: 100%;
    height: auto;
  }
  nav {
    width: auto;
    height: auto;
  }
}
